<h3>Add Comment</h3>

<%= form_for([@post, @post.comments.build], html: {class: "add-comment-form"}) do |form| %>

  <div class="form-body">
    <%= form.text_area(:body, {:class =>'form-control', placeholder: "write your comment..."})%>
  </div>

  <div class="form-header">
    <%= form.text_field(:username, {:class =>'form-control', placeholder: "Username"})%>
    <%= form.submit({:class =>'btn btn-primary'}) %>
  </div>
<% end %>